<!-- 상단바 -->
<nav class="navbar">
    <a href="/pages/posts/list.html" class="navbar-back">
        <img src="/src/images/button/back.png" alt="뒤로가기">
    </a>
    <a href="/pages/posts/list.html" class="navbar-logo">
        <img src="/src/images/logo/logo.png" alt="boot²" class="logo-image">
    </a>
    <div class="navbar-profile" id="profileButton">
        <img src="/src/images/dummy/dog.jpg" alt="프로필" class="profile-image profile-image-sm" id="menu-image">
        <div class="profile-dropdown" id="profileDropdown">
            <a href="/pages/profile/edit.html" class="profile-dropdown-item">회원정보수정</a>
            <a href="/pages/profile/change-password.html" class="profile-dropdown-item">비밀번호수정</a>
            <a href="#" class="profile-dropdown-item" id="logoutButton">로그아웃</a>
        </div>
    </div>
    <div class="navbar-login">
        <a href="/pages/auth/login.html" class="navbar-login-button">로그인/회원가입</a>
    </div>
</nav>